<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Quinndustries — All Tickets</title>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans:wght@300;400;600&display=swap" rel="stylesheet"/>
  <link href="/static/ticketstyles.css" rel="stylesheet">
  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" >
</head>
<body>
  <h1 id="page-title"> {{tab | capitalize}} Tickets</h1>
  <a class="return-arrow" onclick="logout()">← Log Out</a>
  <nav id="ticket-list-navbar">
    <div id="navbar-left">
      
      <div id="issue-type-filter" class="filter-category">
        <p class="filter-label">Issue Type</p>
        <div class="filter-group">
        
          <label><input type="checkbox" value="hardware" onchange="applyFilters()"> Hardware</label>
          <label><input type="checkbox" value="software" onchange="applyFilters()"> Software</label>
          <label><input type="checkbox" value="printer" onchange="applyFilters()"> Printer</label>
          <label><input type="checkbox" value="security" onchange="applyFilters()"> Security</label>
          <label><input type="checkbox" value="other" onchange="applyFilters()"> Other</label>
        </div>
      </div>
      <div id ="priority-filter" class="filter-category">
        <p class="filter-label">Priority</p>
        <div class="filter-group">
          <label><input type="checkbox" value="low" onchange="applyFilters()"> Low</label>
          <label><input type="checkbox" value="medium" onchange="applyFilters()"> Medium</label>
          <label><input type="checkbox" value="high" onchange="applyFilters()"> High</label>
          <label><input type="checkbox" value="critical" onchange="applyFilters()"> Critical</label>
        </div>
      </div>
    </div>
    <div id="navbar-right">
      <button id="search-btn" class="toggle btn" onclick="toggleSearch()" ><span id="search-icon">🔍</span></button>
      <form id="search-form" action="/tickets/search" method="GET" style="display:none;">
        <input type="text" id="search-input" name="q" placeholder="Search tickets...">
      </form>
      <button id="toggle-display-btn" class="toggle btn" onclick="toggleLayout()" ><span id="toggle-icon">☰</span></button>
      <div id="status-btn-container">
        <a id="unassigned-btn" class="btn" href="/tickets/view?tab=unassigned&amp;page={{page_num}}">Unassigned Tickets</a>
        <a id="active-btn" class="btn" href="/tickets/view?tab=active&amp;page={{page_num}}">Active Tickets</a>
        <a id="resolved-btn" class="btn" href="/tickets/view?tab=resolved&amp;page={{page_num}}">Resolved Tickets</a>
        <a id="all-btn" class="btn" href="/tickets/view?tab=all&amp;page={{page_num}}">All Tickets</a>
      </div>
    </div>
  </nav>
  
  {% if tickets %}
  <section id="ticket-list" class="ticket-list grid-view">
    
      {% for ticket in tickets%}
        <a href="/tickets/view/{{ticket.id}}?tab={{tab}}&page={{page_num}}">
          <div class="ticket-card">
            <p class="id-badge">ID: {{ ticket.id }}</p>
            <div class="ticket-header">
              <p class="badge">{{ ticket.issue_type }}</p>
              
              {% if ticket.status == 'active' %}
                <div class="priority priority-{{ ticket.priority }}">{{ ticket.priority }}</div>
              {% else %}
              <div class="priority priority-inactive">{{ ticket.status }}</div>
              {% endif %}
            </div>
            <h3>{{ ticket.summary }}</h3>
            <p class="ticket-meta">{{ ticket.ticketer_name }} — {{ ticket.ticketer_email }} <br>
              {% if ticket.affects_others == 1 %}
                (affects multiple employees)
              {% else %}
                (affects only ticketer)
              {% endif %}</p>
            <p class="ticket-description">{{ ticket.description | truncate(240) }}</p>
          </div>
        </a>
      {% endfor %}
  </section>
  {% else %}
      <p id="no-tickets">No tickets yet.</p>
  {% endif %}

  <div id="pagination-controls">
    {% if page_num > 1 %}
    <a id="page-left" class="btn" href="/tickets/view?tab={{tab}}&page={{page_num-1}}">&lt;</a>
    {% else %}
    <div id="page-left"></div>  
    {% endif %}

    <div id="page-num">Page {{ page_num }}</div>

    {% if has_next %}
    <a id="page-right" class="btn" href="/tickets/view?tab={{tab}}&page={{page_num+1}}">&gt;</a>
    {% else %}
    <div id="page-right"></div> 
    {% endif %}
</div>

  

  <script>
    function toggleSearch() {
      const searchForm = document.getElementById('search-form');
      const searchIcon = document.getElementById('search-icon');
      const statusBtnContainer = document.getElementById('status-btn-container');
      if (searchForm.style.display === 'block') {
        searchForm.style.display = 'none';
        searchIcon.textContent = '🔍';
        statusBtnContainer.style.display = 'flex';
      } else {
        searchForm.style.display = 'block';
        searchIcon.textContent = '✖';
        statusBtnContainer.style.display = 'none';
      }
    }
    //maybe unnessary since the form should submit on enter by default, but just in case
    document.getElementById('search-input').addEventListener('keydown', function() {
      if (event.key === 'Enter') {
        event.preventDefault();
        this.form.submit();
      }
    });
    function applyFilters() {
      const priorityFilters = Array.from(document.querySelectorAll('#priority-filter input[type="checkbox"]:checked')).map(cb => cb.value);
      const issueTypeFilters = Array.from(document.querySelectorAll('#issue-type-filter input[type="checkbox"]:checked')).map(cb => cb.value);
      
      document.querySelectorAll('.ticket-card').forEach(card => {
        const matchesPriority = priorityFilters.length === 0 || priorityFilters.some(priority => card.querySelector('.priority').textContent.toLowerCase() === priority);
        const matchesIssueType = issueTypeFilters.length === 0 || issueTypeFilters.some(issueType => card.querySelector('.badge').textContent.toLowerCase() === issueType);

        if (matchesPriority && matchesIssueType) {
          card.parentElement.style.display = '';
        } else {
          card.parentElement.style.display = 'none';
        }
      });
    }
    function logout() {
      fetch('/logout', { method: 'POST', credentials: 'same-origin' })
        .then(response => {
          if (response.ok) {
            window.location.href = '/';
          } else {
            alert('Logout failed. Please try again.');
          }
        })
        .catch(error => {
          console.error('Error during logout:', error);
          alert('An error occurred. Please try again.');
        });
    }
    // function showTab(tab) {
    //     switch(tab) {
    //       case 'unassigned':
    //         document.getElementById('page-title').textContent = 'Unassigned Tickets';

    //         document.getElementById('unassigned-btn').style.display = 'none';
    //         document.getElementById('active-btn').style.display = 'inline-block';
    //         document.getElementById('resolved-btn').style.display = 'inline-block';
    //         document.getElementById('all-btn').style.display = 'inline-block';
    //         break;
    //       case 'active':
    //         document.getElementById('page-title').textContent = 'Active Tickets';

    //         document.getElementById('unassigned-btn').style.display = 'inline-block';
    //         document.getElementById('active-btn').style.display = 'none';
    //         document.getElementById('resolved-btn').style.display = 'inline-block';
    //         document.getElementById('all-btn').style.display = 'inline-block';
    //         break;
    //       case 'resolved':
    //         document.getElementById('page-title').textContent = 'Resolved Tickets';

    //         document.getElementById('unassigned-btn').style.display = 'inline-block';
    //         document.getElementById('active-btn').style.display = 'inline-block';
    //         document.getElementById('resolved-btn').style.display = 'none';
    //         document.getElementById('all-btn').style.display = 'inline-block';
    //         break;
    //       case 'all':
    //         document.getElementById('page-title').textContent = 'All Tickets';

    //         document.getElementById('unassigned-btn').style.display = 'inline-block';
    //         document.getElementById('active-btn').style.display = 'inline-block';
    //         document.getElementById('resolved-btn').style.display = 'inline-block';
    //         document.getElementById('all-btn').style.display = 'none';
    //         break;
    //     }  
    //     const tickets = document.querySelectorAll('#ticket-list a');
    //     if(tab === 'all') {
    //       tickets.forEach(ticket => ticket.style.display = '');
    //       return;
    //     }
    //     else if (tab=='active') {
    //       tickets.forEach(ticket => {
    //         const priority_text = ticket.querySelector('.priority').textContent.toLowerCase();
    //         if (priority_text == 'resolved' || priority_text == 'unassigned') {
    //           ticket.style.display = 'none';
    //         } else {
    //           ticket.style.display = '';
    //         }
    //       });
    //     }
    //     else{
    //       tickets.forEach(ticket => {
    //         const priority_text = ticket.querySelector('.priority').textContent.toLowerCase();
    //         if (priority_text != tab) {
    //           ticket.style.display = 'none';
    //         } else {
    //           ticket.style.display = '';
    //         }
    //       });
    //     }
        
        
    // }

    function toggleLayout() { 
        document.querySelectorAll('.ticket-list').forEach(list => {
          list.classList.toggle('grid-view');
            list.classList.toggle('list-view');
        });
        const icon = document.getElementById('toggle-icon');
        const isListView = document.querySelector('.ticket-list').classList.contains('list-view');
        icon.textContent = isListView ? '⊞' : '☰';
    }

    find_it = '#' + '{{tab}}' +'-btn';
    console.log(find_it);
    disabled_button = document.querySelector(find_it);
    disabled_button.style.display = 'none';
 

  </script>
</body>
</html>